<a href="https://colab.research.google.com/github/MFernandaMC/Emtech1/blob/main/PROYECTO_02_MENDOZACASTRO_MARIAFERNANDA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Importacion de librerias 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl

In [7]:
#Se guardo el archivo csv y se guardara su ruta en la variable llamada dataframe
dataframe=pd.read_csv('/OnlineRetail.csv', sep=';')

#informacion general
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [10]:
#Numero de filas y columnas
print ('El numero de columnas es: ', dataframe.shape[1])
print ('El numero de filas es: ', dataframe.shape[0])

El numero de columnas es:  8
El numero de filas es:  541909

In [14]:
#columnas con valores nulos
print ('Columnas con valores nulos')
dataframe.isna().any()

Columnas con valores nulos

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [27]:
#Cantidad de valores nulos
print ('Valores nulos de cada tabla')
dataframe.isnull().sum()

Valores nulos de cada tabla

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [21]:
#Eliminar valores nulos
dataframe.dropna(inplace=True)

In [25]:
#Calculo de la media, maxima, minima y desviacion
dataframe.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [24]:
#Eliminar valores negativos ilogicos 
dataframe=dataframe[dataframe.Quantity>=0 ]

In [33]:
#Valores unicos de clientes 

print ('Cantidad de clientes unicos: ', dataframe['CustomerID'].nunique())

Cantidad de clientes unicos:  4339