<a href="https://colab.research.google.com/github/MFernandaMC/Emtech1/blob/main/PROYECTO_03_MENDOZACASTRO_MARIAFERNANDA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Importacion de librerias 
import pandas as pd
import numpy as np

In [6]:
#Se guardo el archivo csv y se guardara su ruta en la variable llamada dataframe
dataframe=pd.read_csv('/content/cleaned.csv', index_col=None)

#informacion general
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4802 entries, 0 to 4801
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          4802 non-null   int64
 1   genre_top         4802 non-null   object
 2   acousticness      4802 non-null   float64
 3   danceability      4802 non-null   float64
 4   energy            4802 non-null   float64
 5   instrumentalness  4802 non-null   float64
 6   liveness          4802 non-null   float64
 7   speechiness       4802 non-null   float64
 8   tempo             4802 non-null   float64
 9   valence           4802 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 375.3+ KB

In [12]:
#Número de columnas y filas
#con .shape[n] te devuelve el tamaño del array que selecciones
print ('El numero de columnas es: ', dataframe.shape[1])
print ('El numero de filas es: ', dataframe.shape[0])

El numero de columnas es:  10
El numero de filas es:  4802

In [13]:
#Calculo de la media, maxima, minima y desviacion
# con .describe() funciona para encontrar las estadísticas de cada columna
dataframe.describe()

,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
count,4802.000000,4.802000e+03,4802.000000,4802.000000,4802.000000,4802.000000,4802.000000,4802.000000,4802.000000
mean,30164.871720,4.870600e-01,0.436556,0.625126,0.604096,0.187997,0.104877,126.687944,0.453413
std,28592.013796,3.681396e-01,0.183502,0.244051,0.376487,0.150562,0.145934,34.002473,0.266632
min,2.000000,9.491000e-07,0.051307,0.000279,0.000000,0.025297,0.023234,29.093000,0.014392
25%,7494.250000,8.351236e-02,0.296047,0.450757,0.164972,0.104052,0.036897,98.000750,0.224617
50%,20723.500000,5.156888e-01,0.419447,0.648374,0.808752,0.123080,0.049594,124.625500,0.446240
75%,44240.750000,8.555765e-01,0.565339,0.837016,0.915472,0.215151,0.088290,151.450000,0.666914
max,124722.000000,9.957965e-01,0.961871,0.999768,0.993134,0.971392,0.966177,250.059000,0.983649

In [9]:
#Arbol de decision
# se importa la librería sklearn para un arbol de decisiones que sirven para 
# problemas de regresión
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [15]:
#Predicciones 
#Aqui x obtiene todos los datos, se ingresan las variables a predecir 
#y las columnas a las cuales se van omitir. Por lo que y es de donde se obtendran los datos
x = dataframe.drop (['track_id', 'energy'], axis=1)
y = dataframe.energy